.card {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 2px 2px 10px green;
    margin: 10px;
    transition: 0.5s;
    overflow: hidden;   /* IMPORTANT */
}

img {
    width: 60%;
    height: 145px;      /* FIX */
    object-fit: cover;
    border-radius: 2px 2px 0 0;
}

.desc {
    padding: 2px 0 2px 0;
    text-align: center;
}

.card:hover {
    box-shadow: 2px 2px 20px red;
}
