.post a{
    color: purple;
    background-color: yellow;
}

.upvote{
    background-color: green;
    color: aliceblue;
}

#signup{
    background-color: #b92b27;
    color: white;

}

nav ul li a{
    color: pink;
}
p+h3{
    text-decoration: underline;
}

.upvote+button{
    background-color: blue;
    color: aliceblue;
}

.input>input{
    background-color: black ;
}

input[type="text"]{
color: red;
}

input[type="password"]{
    color: burlywood;
}

input[type]{
    background-color: white;
}

#myid p{
    color: green;
}